.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    grid-template-areas:
        'header header'
        'navbar aside'
        'outlet aside';
    width: fit-content;
}
h3{
    text-align: center;
}
aside {
    display: grid;
    gap: 10px;

    grid-area: aside;
    height: fit-content;
}