.navBarContainer{
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    justify-items: center;
    grid-area: navbar;
}
.navbar{
    display: grid;
    grid-auto-flow: column;
}